* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	min-height: 100vh;
}

html,
body {
	min-height: 100%;
}
textarea:focus,
input:focus {
	outline: none;
}
textarea,
input {
	outline: none;
	font-family: inherit;
}
textarea::placeholder,
input::placeholder {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
:focus,
:active {
	outline: none;
}
button {
	border: none;
	outline: none;
	color: inherit;
	font-family: inherit;
	cursor: pointer;
	background-color: transparent;
	font-size: inherit;
}
h1,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}
