//colors
$color-primary: #4a565f;
$color-secondary: #252525;
$color-tertiary: #63707a;
$color-fourth: #192c27;
$color-accent: rgb(237, 53, 53);
$color-bg: #fdfdfd;
$color-bg-secondary: #ffffff;
$color-border: rgba(222, 222, 222, 0.4);
$color-border-secondary: #c4cad0;
$color-border-tertiary: #4a4343;

