@use "../../styles/variables" as *;

.toolbar {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 0.7rem;
}

.content {
	min-height: 10rem;
	max-width: 40rem;
	border-radius: 5px;
	border: 1px solid $color-border-secondary;
	padding: 1rem;
	color: $color-secondary;

	ul {
		list-style-type: disc !important; /* важливо ! */
		padding-left: 1.5rem;
		margin: 0.5rem 0;
	}	

	ol {
		list-style-type: decimal !important;
		padding-left: 1.5rem;
	}

	li {
		margin-bottom: 0.1rem;
	}

	a {
		color: #1a73e8;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	h1 {
		font-size: 2.5rem;
		font-weight: 700;
		margin: 1.5rem 0 1rem;
	}

	h2 {
		font-size: 2rem;
		font-weight: 600;
		margin: 1.25rem 0 0.75rem;
	}

	h3 {
		font-size: 1.5rem;
		font-weight: 500;
		margin: 1rem 0 0.5rem;
	}

	h4 {
		font-size: 1.25rem;
		font-weight: 400;
		margin: 0.75rem 0 0.25rem;
	}
}
