<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ваше замовдення відправлено</title>
  {{> styles }}
</head>
<body>
  <div class="container">
    <div class="header">
      Замовлення №{{order.basket_id}} відправлено
    </div>

    <div class="content">
      <p>Привіт, <strong>{{order.mainClientInfo.first_name}}</strong>!</p>
      <p>Ваше замовлення відправлено, ось ТТН для відстеження: {{order.tracking_number}}</p>
    </div>

    <div class="footer">
      <a
        href="https://yourshop.com/orders/{{order.orderId}}"
        class="store-link"
        target="_blank"
        rel="noopener noreferrer"
      >
        YM | FineArt Prints
      </a>
      <img
        class="banner"
        src="https://res.cloudinary.com/yevhenmedovnyk/image/upload/v1750586296/banner_1200_kicpot.webp"
        alt="banner"
      />
      <p>
        📞 Телефон: +380 (XX) XXX-XX-XX |
        📧 Email: <a href="mailto:support@yourshop.com">support@yourshop.com</a>
      </p>
    </div>
  </div>
</body>
</html>
