@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.burgerOpenBtn {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	display: none;

	@include large_desktop {
		display: flex;
	}
}

.burgerOpenBtn,
.burgerCloseBtn {
	cursor: pointer;
	font-size: 1.7rem;
	transition: all 0.2s ease-in-out;
	color: $color-secondary;
	z-index: 1001;
}
