@use '../../styles/variables' as *;
@use '../../styles/mixins.scss' as *;

.container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 1.5rem;
	padding: 1.8rem 10rem;
	background: $color-bg-secondary;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

	@include full_desktop {
		padding: 1.5rem 2rem;
	}
	@include small_tablet {
		padding: 1.3rem 1.2rem;
		gap: 0.3rem;
	}
}

.rightSide {
	display: flex;
	align-items: center;
	gap: 0 1.2rem;
}

.signInBtn {
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	color: $color-primary;
	&:hover {
		color: $color-secondary;
	}
}
