@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.cartIconContainer{
	position: relative;
	
	@include large_desktop{
		margin-left: auto;
	}

	.countBadge {
		position: absolute;
		top: -0.5rem;
		right: -0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.2rem;
		height: 1.2rem;
		background-color: $color-accent;
		color: #fff;
		border-radius: 50%;
		font-size: 0.75rem;
	}
}



.cartIcon{
	width: 1.5rem;
	height: 1.5rem;
	color: $color-primary;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	&:hover {
		color: $color-secondary;
	}
}