@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.container {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	padding: 0 0.5rem;
	background-color: $color-bg-secondary;
	font-family: var(--font-mulish);
	font-size: 0.8rem;
	line-height: 1.25;
	min-width: 30rem;
	user-select: none;

	@include small_tablet {
		min-width: 23rem;
		gap: 0.7rem;
	}
}

.content {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	width: 100%;
	padding: 1rem 1rem 0rem 0rem;
}

.img {
	min-width: 8rem;
	height: 8rem;
	margin: auto 0;
	user-select: none;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@include small_tablet {
		min-width: 6rem;
		height: 6rem;
	}
}

.info {
	display: flex;
	flex-direction: column;
	margin-right: auto;
	font-weight: 500;
}

.name {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.1rem;
}

.size {
	color: $color-tertiary;
	font-size: 0.7rem;
	margin-bottom: 0.4rem;
}

.quantityContainer {
	display: flex;
	align-items: center;
	gap: 0.2rem;
}

.minusBtn,
.plusBtn {
	cursor: pointer;
	transition: 0.2s ease-in-out;
	font-size: 1.5rem;
	&:hover {
		color: $color-secondary;
	}
}

.minusBtn.disabled {
	pointer-events: none;
	user-select: none;
	color: $color-border-secondary;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.quantityInputFake {
	text-align: center;
	border: none;
	width: 1rem;
	pointer-events: none;
	user-select: none;
	color: $color-secondary;
	font-size: 1rem;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.itemTotal {
	pointer-events: none;
	user-select: none;
	font-size: 0.8rem;
	font-weight: 600;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.btn {
	position: absolute;
	top: -0.5rem;
	right: -0.5rem;

	cursor: pointer;
	transition: 0.2s ease-in-out;
	font-size: 1.4rem;
	&:hover {
		color: $color-secondary;
	}
}
