@use '../../styles/mixins' as *;

.layoutContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 80rem;
	width: 100%;
	//min-height: 100vh;
	padding: 4rem 2rem 7rem;
	margin: 0 auto;
	overflow: hidden;

	@include tablet {
		padding: 3rem 0.5rem 3rem;
	}
}
