@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.container {
	margin-bottom: 2rem;
}

.price {
	display: block;
	font-size: 1.1rem;
	font-weight: 600;
	margin-top: 0.2rem;
	margin-bottom: 1rem;

	@include tablet {
		font-size: 1rem;
		margin-bottom: 1rem;
	}
}

.sizes {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.size {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.3rem;
	transition: all 0.2s ease-in-out;
}

.dot {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
